<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
        <meta charset="UTF-8"> 
        <meta name="author" content="Karla Juliana Rodrigues">
        <title>Lista de Times</title> <!-- Adicionando título -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"> <!-- Incluindo Bootstrap -->
  </head>
  <body>
    <div class="container">
        <h5>Lista de Partidas</h5>
        <a href="/inserirPartida" class="btn btn-primary mb-3">Nova Partida</a>

        
        <!-- Tabela de Times -->
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Estádio</th>
                    <th>Time da Casa</th>
                    <th>Time Visitante</th>
                    <th>Data / Horário</th>
                    <th>Resultado</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="partida : ${partidas}">
                    <td th:text="${partida.id}"></td>
                    <td th:text="${partida.estadio}"></td>
                    <td th:text="${partida.timeCasa}"></td>
                    <td th:text="${partida.timeVisitante}"></td>
                    <td th:text="${partida.dataHora}"></td>
                    <td th:text="${partida.resultado}"></td>
                    <td>
                        <a th:href="@{/editarPartida/{id}(id=${partida.id})}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Alterar
                        </a>
                    </td>
                    <!-- Ícone de Excluir -->
                    <td>
                        <a th:href="@{/excluirPartida/{id}(id=${partida.id})}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir a partida?');">
                            <i class="fas fa-trash" ></i> Excluir
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

  </body>
</html>